body { background-color: #999999; }

#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(6,1fr);

}


header {
  grid-column: span 6;
  background-color: lightblue;
}

nav {
  grid-column: span 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {

}

nav li a {
  display: block;
  background-color: red;
  border: 1px solid black;
  padding: 1em;
  color: white;
  text-decoration: none;
}

main {
  grid-column: span 4;
  margin-left: 16px;
  margin-right: 16px;

}

main h2{
  margin-top: 8px;
  padding-top: 0;
}



.floatimg{
  float: left;
  margin-right: 16px;
}


aside {
  background-color: lightgreen;
  padding: 0 16px;
}

footer {
  background-color: red;
  grid-column: span 6;
}
