h1{
  color: orange;
  background-color: white;
  font-style: italic;
  font-weight: none;
}

h2{
color: orange;
background-color: white;
font-style: italic;
font-weight: none;
}

h3{
  color: orange;
background-color: white;
  font-style: italic;
  font-weight: none;
}

body{
  background: 255, 255, 100, 50;
  text-align: center;
}


nav{
  text-align: justify;
}


.bodytext{
  font-family: sans-serif;
  background-image: url(isubackground.jpg);
  background-repeat: 2, 2;
  background-position: top left;
  }


.imageframe {
    border: 10px solid #000000;
    padding: 5px 5px 5px 5px;
    margin: 20px 20px 20px 20px;
    background-color: #ffffff;
    }

.whitebackground {
  background-color: white;
}

a:visited{
  color: green;
}



a:hover {
 color: yellow;
}


a:default {
  color: red;
}
