h1{
  color: white;
}

h2{
color: blue;

}


a:visited{
  color: green;
}



a:hover {
 color: yellow;
}


a:default {
  color: red;
}

.yellowback{
  background-color: yellow;
}

.turnred{
  color: red;
}

.turnlime{
  background-color: lime;
}
